#contents-left
  .header-user
    .header-user__name
      = current_user.name
    .header-user__icon
      = link_to '#' do
        %i.fa.fa-edit
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
  .groups
    - for i in 1..10
      = link_to '#' do
        .group
          %p.group__name グループ名
          %p.group__message メッセージ