
#contents-right{
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;
  position: relative;
  box-sizing: border-box;
  @import "group-header";

  @import "group-main";

  @import "group-footer";
}
