.group-main{
    height: calc(100vh - 140px);
    overflow: scroll;
    background-color: #fafafa;
    padding-top: 46px;
    padding-bottom: 90px;
    box-sizing: border-box;
    &__messages{
      min-height: 40px;
      padding-left: 40px;
      padding-bottom: 40px;
      &__user-name{
        color: $dark-gray;
        font-weight: bold;
        font-size: 16px;
        float: left;
      }
      &__date{
        font-size: 12px;
        color: $gray;
        line-height: 24px;
        float: left;
        padding-left: 10px;
      }
      &__message{
        font-size: 14px;
        color: $dark-gray;
        clear: both;
      }
    }
  }
