@import "font-awesome";

@import "reset";

$white: #ffffff;
$black: #333333;
$gray: #999999;
$blue: #38aef0;
$border: #eeeeee;
$dark-gray:#434A54;

body{
  min-height: 100%;
  width: 100%;
}

.header-top{
  height: 40px;
  width: 100%;
  background-color: $blue;
  p{
    color: $white;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

#contents-left{
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  color: $white;
  float: left;
  .header-user{
    background-color:#253241;
    height: 100px;
    .user_name{
      color: $white;
      font-size: 16px;
      line-height: 100px;
      float: left;
      font-weight: bold;
      padding-left: 20px;
    }
    .icon-user{
      float: right;
      padding-right: 20px;
    }
    a{
      text-decoration: none;
      color: $white;
      i{
        font-size: 1.3em;
        line-height: 100px;
      }
    }
  }
  .groups{
    height: calc( 100vh - 140px);
    overflow: scroll;
    margin: 20px;
    a{
      color: $white;
      text-decoration: none;
      .group{
        padding-bottom: 40px;
        .group__name{
          font-size: 15px;
          padding-bottom: 5px;
          font-weight: bold;
        }
        .group__message{
          font-size: 11px;
          font-weight: bold;
        }
      }
    }
  }
}

#contents-right{
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;
  position: relative;
  box-sizing: border-box;
  .group-header{
    height: 100px;
    border-bottom: $border solid 1px;
    .right-group{
      float: right;
      a{
      text-decoration: none;
      color: $blue;
      padding-right: 20px;
      padding-left: 20px;
      line-height: 40px;
      font-weight: bold;
      border: $blue solid 1.5px;
      height: 40px;
      margin: 28px;
      display: block;
      }
    }
    .left-group{
      float: left;
      .group__members{
        color: $gray;
        font-size: 12px;
        padding-top: 15px;
        padding-left: 40px;
      }
      .group-name{
        color: $black;
        font-size: 20px;
        padding-top: 35px;
        padding-left: 40px;
        clear: both;
      }
    }
  }

  .group-main{
    height: calc(100vh - 140px);
    overflow: scroll;
    background-color: #fafafa;
    padding-top: 46px;
    padding-bottom: 90px;
    box-sizing: border-box;
    .messages{
      height: 40px;
      padding-left: 40px;
      padding-bottom: 40px;
      .user-name{
        color: $dark-gray;
        font-weight: bold;
        font-size: 16px;
        float: left;
      }
      .date{
        font-size: 12px;
        color: $gray;
        line-height: 24px;
        float: left;
        padding-left: 10px;
      }
      .message{
        font-size: 14px;
        color: $dark-gray;
        clear: both;
      }
    }
  }

  .group-footer{
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #dddddd;
    position: absolute;
    bottom: 0px;
    .message-form{
      padding: 20px 40px;
      display: flex;
      .message__form{
        height: 50px;
        width: 80%;
        padding: 0 10px;
        background-color: $white;
        position: relative;
        .message__input{
          border:solid 0px;
          height: 50px;
          width: 100%;
          background-color: $white;
        }
          i{
            font-size: 1.3em;
            position: absolute;
            top: 28%;
            left: 95%;
            cursor: pointer;
            #upload-icon{
              display: none;
            }
          }
      }
      .send__button{
        padding-left: 15px;
        input{
          height: 50px;
          width: 100px;
          background-color: $blue;
          text-decoration: none;
          border: none;
          color: $white;
          text-align: center;
          line-height: 50px;
        }
      }
    }
  }
}





